
@media only screen and (max-width: 641px) {
  #table_id {
    margin-left:auto;
    margin-right:auto;
  }
}

@media only screen and (min-width: 642px) and (max-width: 1040px) {
  #table_id {
    margin-left:auto;
    margin-right:auto;
  }
}

#table_id {
  border-collapse: collapse;
  width: 79%;
}

#table_id td, #table_id th {
  border: 1px solid #ddd;
  padding: 8px;
}

#name_td {
  width: 200px;
}

#desc_td {
  width: 600px;
}

#button_td {
  width: 200px;
}

#table_id tr:nth-child(even){background-color: #f2f2f2;}

#table_id tr:hover {background-color: #ddd;}

#table_id th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(237, 212, 181);
}

button {
  background-color: rgb(237, 212, 181);
  border: none;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 10px 15px;
  cursor: pointer;
  border-radius: 3px;
}

button:hover {
  background-color: rgb(174, 195, 193);
}
