@media only screen and (max-width: 641px) {
  #table_id {
    margin-left:auto;
    margin-right:auto;
  }
}

@media only screen and (min-width: 642px) and (max-width: 1040px) {
  #table_id {
    margin-left:auto;
    margin-right:auto;
  }
}

.contact_class {
  width: 200px;
  height: 200px;
  margin: 10px 25px;
  transition: width 2s, height 2s;
}

.contact_class3 {
  width: 210px;
  height: 210px;
  margin: 10px 25px;
  transition: width 2s, height 2s;
}

.contact_class:hover {
    opacity: 0.8;
    transform: scaleX(-1);
    width: 240px;
    height: 240px;
}

.contact_class3:hover {
  opacity: 0.8;
  transform: rotate(90deg);
  width: 250px;
  height: 250px;
}

#contactname_td {
  width: 300px;
}

#contactbutton_td {
  width: 740px;
  text-align: center;
}


table > a {
  float: inherit;
}

#table_id {
  border-collapse: collapse;
  width: 79%;
}

#table_id td, #table_id th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table_id th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(237, 212, 181);
}
